<div class="col-md-6 text-nowrap">
  <div class="mb-3 row">
    <%= label_tag :username, "Nombre de usuario", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :username, user.username, class: "form-control", disabled: true %>
  </div>

  <div class="mb-3 row">
    <%= label_tag :email, "Correo electrónico", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :email, user.email, class: "form-control", disabled: true %>
  </div>

  <div class="mb-3 row">
    <%= label_tag :phone, "Teléfono", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :phone, user.phone, class: "form-control", disabled: true %>
  </div>

  <div class="mb-3 row">
    <%= label_tag :name, "Nombre completo", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :name, user.name, class: "form-control", disabled: true %>
  </div>

  <div class="mb-3 row">
    <%= label_tag :role, "Rol", class: "col-sm-2 col-form-label" %>
    <%= select_tag :role, options_for_select(User::ROLES.map { |role| [role.titleize, role] }, user.role), class: "form-control", disabled: true %>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label"><strong>Estado</strong></label>
    <% if user.deactivated %>
      <p class="form-control" style="color: red"><strong>Deactivated</strong></p>
    <% else %>
      <p class="form-control" style="color: green"><strong>Active</strong></p>
    <% end %>
  </div>

  <div class="mt-4 text-center">
    <%= link_to "Editar", edit_user_path(user), class: "btn btn-outline-primary" %>
  </div>

</div>
