<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-6 align-items-center">
        <% product.images.each_with_index do |image, index| %>
          <div class="mb-3">
            <%= image_tag url_for(image), class: "card-img-top mb-5 mb-md-0 me-3", alt: product.name %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 mt-2 align-items-start">
        <%= form_with(model: product) do |form| %>
          <div class="mb-3 row">
            <%= form.label :name, class: "col-sm-2 col-form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3 row">
            <%= form.label :description, class: "col-sm-2 col-form-label" %>
            <%= form.text_field :description, class: "form-control" %>
          </div>

          <div class="mb-3 row">
            <%= form.label :stock, class: "col-sm-2 col-form-label" %>
            <%= form.number_field :stock, class: "form-control" %>
          </div>

          <div class="mb-3 row">
            <%= form.label :price, class: "col-sm-2 col-form-label" %>
            <%= form.text_field :price, class: "form-control" %>
          </div>

          <div class="mb-3 row">
            <%= form.label :category_ids, class: "col-sm-2 col-form-label" %>
            <%= form.collection_select :category_ids, @categories, :id, :display_name, {}, { multiple: true, class: "form-control" } %>
          </div>

          <div class="mb-3 row">
            <%= form.label :images, "Agregar imágenes", class: "col-form-label" %>
            <%= form.file_field :images, multiple: true, class: "form-control" %>
          </div>

          <div class="mt-4 text-center">
            <%= form.submit "Actualizar", class: "btn btn-outline-success" %>
          </div>
        <% end %>
        <div class="row mt-4">
          <div class="col text-start">
            <%= link_to "Volver", :back, class: "btn btn-outline-dark" %>
          </div>
          <div class="col text-end">
            <%= link_to "Listado", products_path, class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>