<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.categories.map(&:name).join(", ") %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= product.color_id %>
  </p>

  <p>
    <strong>Images:</strong>
    <div class="product-images">
      <% product.images.each do |image| %>
        <%= image_tag url_for(image) %>
      <% end %>
    </div>
  </p>

</div>
