<div id="sale-items">
    <%= form.fields_for :sale_items do |si_form| %>
        <div class="nested-fields">
            <%= si_form.label :product_id, "Product" %>
            <%= si_form.collection_select :product_id, Product.all, :id, :name, prompt: "Select a product", class: "product-select" %>
            <%= si_form.label :quantity %>
            <%= si_form.number_field :quantity, min: 1, class: "quantity-input" %>
            <%= si_form.hidden_field :price, class: "price-input" %>
            <%= link_to "Remove", "#", class: "remove_fields" %>
        </div>  
    <% end %>
</div>