<% content_for :title, "Carrito" %>

<% if @sale.sale_items.any? %>
  <%= render partial: "sale", locals: { sale: @sale } %>

  <div class="container my-4">
    <div class="row">
      <div class="col text-right text-end">
        <%= link_to "Volver", :back, class: "btn btn-outline-secondary md-btn-flat mt-2 mr-3" %>
        <% if @sale.pending? %>
          <%= link_to "Checkout", '#', class: "btn btn-outline-success mt-2", data: { bs_toggle: 'modal', bs_target: "#checkoutModal" } %>
        <% elsif @sale.completed? %>
          <%= link_to "Cancel", '#', class: "btn btn-outline-danger mt-2", data: { bs_toggle: 'modal', bs_target: "#cancelModal" } %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: "empty" %>
<% end %>

<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutModalLabel">Ingresar datos del cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: [@sale, @sale.build_client], url: checkout_sale_path(@sale), local: true do |form| %>
          <div class="mb-3">
            <%= form.label :name, "Nombre" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :email, "Email" %>
            <%= form.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="mb-3">
            <%= form.label :phone, "Teléfono" %>
            <%= form.text_field :phone, class: "form-control" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= form.submit 'Completar', class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Confirmar cancelar venta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas cancelar esta venta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <%= button_to 'Cancelar', cancel_sale_path(@sale), method: :patch, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
