<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Avivas", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><% link_to "Inicio", root_path, class: "nav-link active" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Productos 
          </a>
          <ul class="dropdown-menu">
            <%= link_to "Todos los productos", products_path, class: "dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="#">Categoría 1</a>
            <a class="dropdown-item" href="#">Categoría 2</a>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-rg-0">
            <% if current_user %>
                <%= link_to "Carrito", sale_path(current_sale), class: "nav-link" %>
                <%= link_to "Logout", sessions_destroy_path, method: :destroy, class: "nav-link" %>
            <% else %>
                <%= link_to "Login", sessions_new_path, class: "nav-link" %>
            <% end %>
        </ul>
      </form>
    </div>
  </div>
</nav>